body {
    background-color: black;
    background-image: url("../images/overwatch_bg.jpg");
    background-repeat: no-repeat;
}

div,
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #fff;
}

h1 {
    font-size: 24px;
}

#letters {
    letter-spacing: 20px;
    font-size: 28px;
}
